*{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

nav{
    width: 30%;
    margin-left: calc(10% / 6);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem 0;
    margin-bottom: .5rem;
    text-transform: uppercase;
    letter-spacing: .75ch;
    font-weight: 700;
}

img{
    max-width: 30%;
    margin: calc(10% / 6);
}

